@import 'src/colors';

.generic-btn {
  padding: 7px 45px;
  border-radius: 0;
  font-family: Fixture-Expanded-Regular, "Helvetica Neue", sans-serif;
  height: 50px;

  &.primary {
    background-color: $pb-black;
    color: $pb-white;
    border: solid 1px $pb-black;

    &:hover {
      background-color: $pb-white;
      color: $pb-black;
    }
  }
}
