:host {
  .radio-banner {
    background: url('../../../../assets/images/backgrounds/radio/notorious.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding: 90px 0;

    img {
      width: 160px;
      margin-bottom: 35px;
      animation: rotation 10s infinite linear;
      cursor: pointer;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
