<pb-page-layout color="black">
  <ng-container page>
    <div class="basket">
      <h1>{{'BASKET.TITLE' | translate}}</h1>

      <div *ngIf="(savedProducts$ | async).length" class="basket-container">
        <mat-table [dataSource]="savedProducts$ | async">
          <ng-container matColumnDef="packshot">
            <mat-header-cell *matHeaderCellDef translate></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <img
                class="item-img"
                [src]="env.uploads + element.image"
                [alt]="element.label"
              >
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="label">
            <mat-header-cell *matHeaderCellDef translate></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="flex flex-col" fxLayout="column" fxLayoutAlign="space-between">
                <span class="element-title">{{element.label}}</span>
              </div>
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="format">
            <mat-header-cell *matHeaderCellDef translate></mat-header-cell>
            <mat-cell *matCellDef="let element">
               {{element.format.label}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef translate></mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.format.price}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef translate></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <pb-quantity-selector
                [quantity]="element.quantity"
                [maxQuantity]="element.stock"
                [inline]="true"
                size="sm"
                (changeQuantity)="onChangeQuantity($event, element)"
              ></pb-quantity-selector>
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef translate></mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.format.price * element.quantity | currency:'EUR'}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="remove-button" (click)="removeFromBasket(element)">
                <span>{{'BASKET.REMOVE' | translate}}</span>
              </div>
            </mat-cell>
          </ng-container>
    
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
  
        <div
          fxLayout="column"
          fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="80px"
          fxLayoutGap.lt-md="20px"
          fxLayoutAlign="space-between center"
          class="code-container"
        >
          <span>{{'BASKET.GOT_PROMO_CODE' | translate}}</span>
          <div
            fxLayout="column"
            fxLayout.gt-xs="row"
            fxLayoutGap="5px"
            fxLayoutGap.gt-xs="30px"
          >
            <mat-form-field>
              <mat-label>{{'BASKET.ENTER_PROMO_CODE' | translate}}</mat-label>
              <input [(ngModel)]="code" matInput>
            </mat-form-field>
            <pb-generic-button
              [label]="'SHARED.GENERIC_BUTTON.VALIDATE' | translate"
              [disabled]="!code"
              (pbClick)="checkPromoCode()"
            ></pb-generic-button>
          </div>
        </div>
  
        <div
          fxLayout="column"
          fxLayoutAlign="center flex-end"
          fxLayoutGap="10px"
          class="total-container"
        >
          <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="30px">
            <span>{{'BASKET.TOTAL_WD' | translate}}</span>
            <span [ngClass]="{'crossed': discount}">{{totalHT | currency:'EUR'}}</span>
          </div>
          <div *ngIf="discount" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="30px">
            <span>{{totalHTWithDiscount}}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="30px">
            <span>{{'BASKET.DELIVERY' | translate}}</span>
            <span *ngIf="totalHTWithDiscount >= 200">{{'BASKET.GIFTED' | translate}}</span>
            <span *ngIf="totalHTWithDiscount < 200">{{delivery | currency:'EUR'}}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="30px">
            <span>{{'BASKET.TOTAL' | translate}}</span>
            <span>{{total | currency:'EUR'}}</span>
          </div>
        </div>
      </div>

      <p *ngIf="!(savedProducts$ | async).length" class="empty-list">
        {{'BASKET.EMPTY_LIST' | translate}}
      </p>

      <div
        fxLayout="column"
        fxLayout.gt-sm="row"
        fxLayoutGap="50px"
        fxLayoutGap.gt-sm="100px"
        fxLayoutAlign.gt-sm="center flex-start"
        class="banner"
      >
        <div fxLayout="column">
          <h1>{{('BASKET.SECURED_PAIEMENT' | translate).toUpperCase()}}</h1>
          <p [innerHTML]="'BASKET.PAIEMENT_POSSIBILITIES' | translate"></p>
        </div>
        <div fxLayout="column">
          <h1>{{('BASKET.QUICK_DELIVERY' | translate).toUpperCase()}}</h1>
          <p [innerHTML]="'BASKET.DELIVERY_POSSIBILITIES' | translate"></p>
        </div>
        <div fxLayout="column">
          <h1>{{('BASKET.FREE_RETURN' | translate).toUpperCase()}}</h1>
          <p [innerHTML]="'BASKET.NEED_HELP' | translate"></p>
        </div>
      </div>
    </div>

    <pb-footer></pb-footer>
  </ng-container>
</pb-page-layout>
