:host {

  .mat-table {
    width: 100%;

    .mat-cell, .mat-header-cell {
      padding: 15px;
      min-width: 80px;
    }

    .item-img {
      max-width: 150px;
      cursor: pointer;
    }
  }
}
