@font-face {
  font-family: Fixture-Expanded-Thin;
  src: url('Fixture/Fixture_Expanded_Thin.otf');
}

@font-face {
  font-family: Fixture-Expanded-ExtraLight;
  src: url('Fixture/Fixture_Expanded_ExtraLight.otf') format("opentype");
}

@font-face {
  font-family: Fixture-Expanded-Light;
  src: url('Fixture/Fixture_Expanded_Light.otf') format("opentype");
}

@font-face {
  font-family: Fixture-Expanded-Medium;
  src: url('Fixture/Fixture_Expanded_Medium.otf') format("opentype");
}

@font-face {
  font-family: Fixture-Expanded-Regular;
  src: url('Fixture/Fixture_Expanded_Regular.otf') format("opentype");
}

@font-face {
  font-family: Fixture-Expanded-SemiBold;
  src: url('Fixture/Fixture_Expanded_SemiBold.otf') format("opentype");
}

@font-face {
  font-family: Fixture-Expanded-Bold;
  src: url('Fixture/Fixture_Expanded_Bold.otf') format("opentype");
}

@font-face {
  font-family: Fixture-Expanded-ExtraBold;
  src: url('Fixture/Fixture_Expanded_ExtraBold.otf') format("opentype");
}
