<pb-page-admin-layout>
  <ng-container page>

    <div class="flex flex-row justify-between items-center">
      <h1 translate>ADMIN.FORMAT.LIST.TITLE</h1>
      <button
        routerLink="/admin/formats/new"
        mat-mini-fab
        color="primary"
        aria-label="Create format"
      ><mat-icon>add</mat-icon></button>
    </div>

    <table mat-table [dataSource]="formats$ | async" class="mat-elevation-z8">

      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef translate>ADMIN.FORMAT.LIST.FORMAT</th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-row">
            <button mat-icon-button color="primary" [routerLink]="['/admin/formats/' + element._id + '/edit']">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="confirm(element._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </ng-container>
</pb-page-admin-layout>
