<mat-card class="form-container">
  <form
    [formGroup]="categoryForm"
    (ngSubmit)="onSubmit(categoryForm.value)"
    class="flex flex-col"
  >
    <mat-form-field appearance="standard">
      <mat-label translate>ADMIN.CATEGORY.FORM.CATEGORY</mat-label>
      <input matInput formControlName="label">
    </mat-form-field>

    <button class="create" mat-raised-button color="primary" type="submit">
      {{category ? ('ADMIN.CATEGORY.FORM.EDIT' | translate) : 'ADMIN.CATEGORY.FORM.CREATE' | translate}}
    </button>
  </form>
</mat-card>
