.footer-right {
  width: 100%;
  background: url('../../../../assets/images/backgrounds/footer/footer-bg.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.footer-left {

  .footer-title {
    font-family: Fixture-Expanded-SemiBold, "Helvetica Neue", sans-serif;
    font-size: 50px;
    margin: 0 0 15px;
  }

  .footer-socials {
    font-family: Fixture-Expanded-SemiBold, "Helvetica Neue", sans-serif;
    font-size: 15px;
    margin-bottom: 40px;
  }

  .footer-description {
    font-family: Fixture-Expanded-Light, "Helvetica Neue", sans-serif;
    font-size: 14px;
    text-align: left;
  }

  .footer-menu {
    font-family: Fixture-Expanded-SemiBold, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;

    li {
      margin-bottom: 15px;
    }
  }

  .footer-links {
    font-size: 9px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@media(min-width: 992px) {
  .footer-left {
    padding: 0 55px;
    max-width: 570px;
  }
}

@media(max-width: 992px) {
  .footer-left {
    padding: 0 15px;

    .footer-title,
    .footer-socials,
    .footer-description,
    .footer-menu,
    .footer-links {
      text-align: center;
    }
  }

  .footer-right {
    min-height: 500px;
  }
}