<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="250px">

  <div class="footer-left">
    <h1 class="footer-title">Première Base</h1>
    <div fxLayoutAlign="space-between" fxLayout.xs="column" class="footer-socials">
      <a>INSTAGRAM</a>
      <a>FACEBOOK</a>
      <a>PINTEREST</a>
      <a>SPOTIFY</a>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="65%" class="footer-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      </div>
      <div fxFlex="35%">
        <ul class="footer-menu">
          <li><a>Collections</a></li>
          <li><a>Shop</a></li>
          <li><a>Studio</a></li>
          <li><a>La marque</a></li>
          <li><a>Journal</a></li>
        </ul>
      </div>
    </div>

    <div fxLayoutAlign="space-between" class="footer-links">
      <a>Mentions légales</a>
      <a>Crédits</a>
      <a>Plan du site</a>
      <a>Livraison</a>
      <a>FAQ</a>
      <a>CGV</a>
    </div>
  </div>

  <div fxLayoutAlign="center center" fxHide.lt-md class="footer-right">
    <img src="assets/images/logos/logo-1.svg">
  </div>

</div>
