<div
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutAlign.gt-sm="space-between"
  class="footer"
>

  <div
    fxLayout="column"
    fxLayoutGap="30px"
    fxLayoutGap.gt-sm="50px"
    class="footer-left"
  >
    <h1 class="footer-title">{{'FOOTER.TITLE' | translate}}</h1>
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="center"
      fxLayoutAlign.gt-sm="flex-start"
      fxLayoutGap="15px"
      fxLayoutGap.gt-sm="20px"
      class="footer-socials"
    >
      <a [href]="env.instagram" target="_blank">
        INSTAGRAM
      </a>
      <a [href]="env.facebook" target="_blank">
        FACEBOOK
      </a>
      <a [href]="env.pinterest" target="_blank">
        PINTEREST
      </a>
      <a [href]="env.spotify" target="_blank">
        SPOTIFY
      </a>
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="start start"
      fxLayoutGap="30px"
      fxLayoutGap.gt-sm="50px"
    >
      <div class="footer-description">
        {{'FOOTER.DESCRIPTION' | translate}}
      </div>
      <div>
        <ul class="footer-menu">
          <li><a routerLink="/collections">{{'NAV.LEFT.COLLECTIONS' | translate}}</a></li>
          <li><a routerLink="/illustrations">{{'NAV.LEFT.SHOP' | translate}}</a></li>
          <li><a>{{'NAV.LEFT.STUDIO' | translate}}</a></li>
          <li><a routerLink="/brand">{{'NAV.LEFT.BRAND' | translate}}</a></li>
          <li><a routerLink="/journal">{{'NAV.LEFT.JOURNAL' | translate}}</a></li>
        </ul>
      </div>
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="center"
      fxLayoutAlign.gt-sm="space-between"
      fxLayoutGap="10px"
      class="footer-links"
    >
      <a>{{'FOOTER.LEGAL_MENTION' | translate}}</a>
      <a>{{'FOOTER.CREDITS' | translate}}</a>
      <a>{{'FOOTER.SITE' | translate}}</a>
      <a>{{'FOOTER.DELIVERY' | translate}}</a>
      <a>{{'FOOTER.FAQ' | translate}}</a>
      <a>{{'FOOTER.CGV' | translate}}</a>
    </div>
  </div>

  <div
    fxLayoutAlign="center center"
    class="footer-right"
    style="background: url({{backgroundImage}}) no-repeat center center"
  >
    <img src="assets/images/logos/logo-1.svg">
  </div>

</div>
