<pb-page-admin-layout>
  <ng-container page>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1 translate>ADMIN.PROMO.LIST.TITLE</h1>
      <button
        routerLink="/admin/promos/new"
        mat-mini-fab
        color="primary"
        aria-label="Create promo"
      ><mat-icon>add</mat-icon></button>
    </div>

    <table mat-table [dataSource]="promos$ | async" class="mat-elevation-z8">

      <ng-container matColumnDef="promo">
        <th mat-header-cell *matHeaderCellDef translate>ADMIN.PROMO.LIST.PROMO</th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef translate>ADMIN.PROMO.LIST.DISCOUNT</th>
        <td mat-cell *matCellDef="let element"> {{element.discount / 100 | percent}} </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef translate>ADMIN.PROMO.LIST.START_DATE</th>
        <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef translate>ADMIN.PROMO.LIST.END_DATE</th>
        <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div fxLayout="row">
            <button mat-icon-button color="primary" [routerLink]="['/admin/promos/' + element._id + '/edit']">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="confirm(element._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </ng-container>
</pb-page-admin-layout>
