<form
  class="flex flex-col"
  [formGroup]="signupForm"
  (ngSubmit)="onSubmit(signupForm.value)"
>
  <mat-form-field>
    <mat-label>{{'SIGNUP.FIRST_NAME' | translate}}</mat-label>
    <input formControlName="firstName" type="text" matInput>
  </mat-form-field>
  <pb-form-error [submitted]="submitted" [field]="this.signupForm.controls.firstName"></pb-form-error>

  <mat-form-field>
    <mat-label>{{'SIGNUP.NAME' | translate}}</mat-label>
    <input formControlName="name" type="text" matInput>
  </mat-form-field>
  <pb-form-error [submitted]="submitted" [field]="this.signupForm.controls.name"></pb-form-error>

  <mat-form-field>
    <mat-label>{{'SIGNUP.EMAIL' | translate}}</mat-label>
    <input formControlName="email" type="email" matInput>
  </mat-form-field>
  <pb-form-error [submitted]="submitted" [field]="this.signupForm.controls.email"></pb-form-error>

  <mat-form-field>
    <mat-label>{{'SIGNUP.PASSWORD' | translate}}</mat-label>
    <input formControlName="password" type="password" matInput>
  </mat-form-field>
  <pb-form-error [submitted]="submitted" [field]="this.signupForm.controls.password"></pb-form-error>

  <pb-generic-button
    [label]="'SIGNUP.SUBMIT' | translate"
    type="submit"
  ></pb-generic-button>

  <mat-checkbox
    [ngClass]="{'has-error': this.signupForm.controls.consent.errors?.required && submitted}"
    formControlName="consent"
  >{{'SIGNUP.CONSENT' | translate}}</mat-checkbox>
  <mat-checkbox formControlName="emailing">{{'SIGNUP.EMAILING' | translate}}</mat-checkbox>
</form>
