<pb-page-layout color="white">
  <ng-container page>

    <div class="home">
      <!-- Landing -->
      <div class="current-collection">

      </div>

      <!-- Newest items -->
      <div class="section-container flex flex-col items-center justify-center">
        <h2 class="section-title">{{'HOME.NEWEST_TITLE' | translate}}</h2>
        <pb-items-container [items]="newestItems$ | async" [maxItems]="3" [perLine]="3"></pb-items-container>
      </div>

      <!-- Illustrations -->
      <div class="section-container flex flex-col items-center justify-center">
        <h2 class="section-title">{{'HOME.ILLUSTRATION_TITLE' | translate}}</h2>
        <pb-items-container [items]="illustrations$ | async" [maxItems]="12" [perLine]="4"></pb-items-container>
        <pb-generic-button
          *ngIf="(illustrations$ | async)?.length"
          [label]="'SHARED.GENERIC_BUTTON.MORE_PRODUCT' | translate"
        ></pb-generic-button>
      </div>

      <!-- Collections -->
      <div class="collection-section">
        <div class="collection-title-row flex flex-row justify-between items-center max-md:justify-center">
          <h2>{{'HOME.COLLECTIONS_TITLE' | translate}}</h2>
          <pb-arrow-link
            *ngIf="(collections$ | async)?.length"
            [label]="'HOME.COLLECTIONS_LINK' | translate"
            link="/collections"
            class="block max-md:hidden"
          ></pb-arrow-link>
        </div>

        <div class="collection-image-row flex flex-row">
          <ng-container *ngFor="let collection of collections$ | async">
            <div
              class="flex flex-col justify-start items-center max-md:justify-center"
              (click)="goToCollection(collection._id)"
            >
              <img 
                class="collection-image"
                [src]="env.uploads + collection.images.home"
                [alt]="collection.label"
              >
              <h3>{{collection.label}}</h3>
              <p>{{collection.theme.label}}</p>
            </div>
          </ng-container>
        </div>

        <p
          *ngIf="!(collections$ | async)?.length"
          class="px-[75px]"
        >{{'HOME.NO_COLLECTIONS' | translate}}</p>
      </div>

      <!-- Studio -->
      <div class="flex flex-row flex-wrap max-sm:flex-col">
        <div class="studio-image"></div>
        <div class="studio-description-container">
          <div class="studio-description flex flex-col justify-between gap-y-2">
            <div>
              <h2 class="section-title-2">{{'HOME.STUDIO_TITLE' | translate}}</h2>
              <h5>{{'HOME.STUDIO.SECTION_1' | translate}}</h5>
              <p>{{'HOME.STUDIO.DESCRIPTION_1' | translate}}</p>
              <h5>{{'HOME.STUDIO.SECTION_2' | translate}}</h5>
              <p>{{'HOME.STUDIO.DESCRIPTION_2' | translate}}</p>
              <h5>{{'HOME.STUDIO.SECTION_3' | translate}}</h5>
              <p>{{'HOME.STUDIO.DESCRIPTION_3' | translate}}</p>
            </div>
            <pb-generic-button [label]="'SHARED.GENERIC_BUTTON.DISCOVER_STUDIO' | translate"></pb-generic-button>
          </div>
        </div>
      </div>

      <!-- Collaboration -->
      <div class="collection-section">
        <div
          class="collection-title-row flex flex-row justify-between items-center max-md:justify-center"
        >
          <h2>{{'HOME.COLLECTION_TITLE' | translate}}</h2>
          <pb-arrow-link
            [label]="'HOME.COLLECTION_LINK' | translate"
            link="/collections"
            class="block max-md:hidden"
          ></pb-arrow-link>
        </div>

        <p class="px-[75px]">{{'HOME.NO_COLLECTION' | translate}}</p>
      </div>

      <pb-radio-banner></pb-radio-banner>
      <pb-newsletter *ngIf="(alreadySub$ | async) !== 'true'"></pb-newsletter>
      <pb-footer></pb-footer>
    </div>

  </ng-container>
</pb-page-layout>


