<pb-page-layout color="black">
  <ng-container page>
    
    <div class="brand">
      <h1>{{'BRAND.TITLE' | translate}}</h1>

      <div class="inspiration">
        {{'BRAND.INSPIRATION' | translate}}
      </div>

      <div class="history">
        {{'BRAND.HISTORY' | translate}}
      </div>

      <div class="banner">
        {{'BRAND.BANNER' | translate}}
      </div>

      <div class="ambition">
        {{'BRAND.AMBITION' | translate}}
      </div>
    </div>

    <pb-footer></pb-footer>

  </ng-container>
</pb-page-layout>
