@import 'src/colors';

:host {
  .journal {
    text-align: center;
    padding: 50px 0;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;

    h1 {
      margin-block-start: 0;
      margin-block-end: 50px;
    }

    .mansory-list {
      margin: 0 auto;

      .masonry-item {
        width: 350px;
        margin-bottom: 50px;
        transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
       
        img {
          width: 100%;
        }
      }
    }
  }


  @media(max-width: 768px) {
    .journal {
      padding: 100px 0 0;
      .mansory-list {
        .masonry-item {
          width: 100%;
        }
      }
    }
  }
}
