@import 'src/colors';

:host {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0;
    min-height: 50px;
    background-color: $pb-creme;

    .logo {
      width: 85px;
    }

    .nav-bar-links {
      color: white;

      .nav-bar-link {
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          font-weight: 500;
        }
      }
    }
  }

}
