<div
  class="nav-bar flex flex-row items-center justify-between"
  clickOutside
  (onClickOutside)="toggleAuthenticationPopup(false)"
>
  <a routerLink="/">
    <img *ngIf="color === 'white'" class="logo" src="assets/images/logos/logo-1.svg">
    <img *ngIf="color === 'black'" class="logo" src="assets/images/logos/logo-2.png">
  </a>

  <div class="flex flex-row items-center max-lg:hidden">
    <!-- <div class="nav-bar-link {{color}}">
      <mat-icon>search</mat-icon>
    </div> -->

    <div class="nav-bar-link {{color}}">
      <span (click)="changeLang('en')">EN</span> / <span (click)="changeLang('fr')">FR</span>
    </div>

    <div 
      *ngIf="authService.isLoggedIn()"
      class="nav-bar-link {{color}}"
      [ngClass]="{'active': route === 'account'}"
      (click)="navigate('account')"
    >{{'NAV.TOP.ACCOUNT' | translate}}</div>

    <div 
      *ngIf="!authService.isLoggedIn()"
      class="nav-bar-link {{color}}"
      [ngClass]="{'active': showAuthenticationPop}"
      (click)="toggleAuthenticationPopup(!showAuthenticationPop)"
    >{{'NAV.TOP.ACCOUNT' | translate}}</div>

    <div
      class="nav-bar-link {{color}}"
      [ngClass]="{'active': route === 'basket'}"
      (click)="navigate('basket')"
    >{{'NAV.TOP.BASKET' | translate}} <span *ngIf="(savedProducts$ | async).length">({{nbSavedProducts}})</span></div>

    <div
      *ngIf="authService.isLoggedIn()"
      class="nav-bar-link {{color}}"
      (click)="authService.logout()"
    >{{'NAV.TOP.LOGOUT' | translate}}</div>
  </div>

  <div class="hidden max-lg:block">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        *ngFor="let nav of navs"
        mat-menu-item
        (click)="navigate(nav.route)"
      >
        <span>{{nav.text | translate}}</span>
      </button>
    </mat-menu>
  </div>

  <pb-authentication-popup *ngIf="showAuthenticationPop && !authService.isLoggedIn()"></pb-authentication-popup>
</div>

<div class="side-nav max-lg:hidden">
  <ul>
    <li *ngFor="let nav of navs">
      <a
        class="side-nav-link {{color}}"
        [ngClass]="{'active': route === nav.route}"
        (click)="navigate(nav.route)"
      >{{nav.text | translate}}</a>
    </li>
  </ul>
</div>
