@import 'src/colors';

:host {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 30px 30px 0;
    min-height: 50px;

    .logo {
      width: 85px;
    }

    .nav-bar-links {
      display: flex;
      align-items: center;

      .nav-bar-link {
        margin-right: 10px;
        cursor: pointer;
        font-size: 14.7px;

        &.black {
          color: black;
        }

        &.white {
          color: white;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          font-weight: 600;
        }
      }
    }

    pb-authentication-popup {
      position: absolute;
      top: 60px;
      right: 30px;
    }
  }

  .side-nav {
    position: absolute;

    ul {
      list-style: none;
      padding-inline-start: 30px;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        a.side-nav-link {
          text-decoration: none;
          cursor: pointer;

          &.active {
            font-weight: 600;
          }

          &.black {
            color: black;
          }
          &.white {
            color: white;
          }
        }
      }
    }
  }

}
