:host {
  .newsletter {
    width: 100%;
    margin: 35px 0 50px;

    mat-form-field {
      width: 250px;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 2.1em;
      }
    }
  }
}
